In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import seaborn as sns

In [2]:
df = pd.read_csv('/Users/Sam/Downloads/UserBehavior.csv')

In [3]:
df.head()

   1  2268318  2520377  pv  1511544070
0  1  2333346  2520771  pv  1511561733
1  1  2576651   149192  pv  1511572885
2  1  3830808  4181361  pv  1511593493
3  1  4365585  2520377  pv  1511596146
4  1  4606018  2735466  pv  1511616481

In [4]:
df.describe()

                  1       2268318       2520377    1511544070
count  1.001508e+08  1.001508e+08  1.001508e+08  1.001508e+08
mean   5.069431e+05  2.579775e+06  2.696380e+06  1.511951e+09
std    2.940605e+05  1.488056e+06  1.463155e+06  5.528006e+06
min    1.000000e+00  1.000000e+00  8.000000e+01 -2.134949e+09
25%    2.524290e+05  1.295225e+06  1.320293e+06  1.511762e+09
50%    5.040150e+05  2.580735e+06  2.671397e+06  1.511965e+09
75%    7.609490e+05  3.862042e+06  4.145813e+06  1.512179e+09
max    1.018011e+06  5.163070e+06  5.162429e+06  2.122867e+09

In [6]:
train_data = pd.read_csv('/Users/Sam/Downloads/car_train_0110.csv',  sep=' ')

In [7]:
train_data.head()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_14,v_15,v_16,v_17,v_18,v_19,v_20,v_21,v_22,v_23
0,134890,734,20160002,13.0,9,NaN,0.0,1.0,0,15.0,...,0.092139,0.000000,18.763832,-1.512063,-1.008718,-12.100623,-0.947052,9.077297,0.581214,3.945923
1,306648,196973,20080307,72.0,9,7.0,5.0,1.0,173,15.0,...,0.001070,0.122335,-5.685612,-0.489963,-2.223693,-0.226865,-0.658246,-3.949621,4.593618,-1.145653
2,340675,25347,20020312,18.0,12,3.0,0.0,1.0,50,12.5,...,0.064410,0.003345,-3.295700,1.816499,3.554439,-0.683675,0.971495,2.625318,-0.851922,-1.246135
3,57332,5382,20000611,38.0,8,7.0,0.0,1.0,54,15.0,...,0.069231,0.000000,-3.405521,1.497826,4.782636,0.039101,1.227646,3.040629,-0.801854,-1.251894
4,265235,173174,20030109,87.0,0,5.0,5.0,1.0,131,3.0,...,0.000099,0.001655,-4.475429,0.124138,1.364567,-0.319848,-1.131568,-3.303424,-1.998466,-1.279368

In [8]:
train_data.describe()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_14,v_15,v_16,v_17,v_18,v_19,v_20,v_21,v_22,v_23
count,250000.000000,250000.000000,2.500000e+05,250000.000000,250000.000000,224620.000000,227510.000000,236487.000000,250000.000000,250000.000000,...,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,185351.790768,83153.362172,2.003401e+07,44.911480,7.785236,4.563271,1.665008,0.780783,115.528412,12.577418,...,0.032489,0.030408,0.014725,0.000915,0.006273,0.006604,-0.001374,0.000609,-0.004025,0.001834
std,107121.188763,72540.799964,7.770250e+04,50.640081,7.694010,1.912515,2.339646,0.413717,196.141828,3.990632,...,0.038792,0.049333,8.779163,5.771081,4.880981,4.124722,3.803626,3.555353,2.864713,2.323680
min,1.000000,0.000000,1.910000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.000000,0.000000,-10.412444,-15.538236,-21.009214,-13.989955,-9.599285,-11.181255,-7.671327,-2.350888
25%,92501.750000,14500.000000,1.999061e+07,6.000000,1.000000,3.000000,0.000000,1.000000,70.000000,12.500000,...,0.000129,0.000000,-5.552269,-0.901181,-3.150385,-0.478173,-1.727237,-3.067073,-2.092178,-1.402804
50%,185264.500000,65314.500000,2.003111e+07,27.000000,6.000000,4.000000,0.000000,1.000000,105.000000,15.000000,...,0.001961,0.002567,-3.821770,0.223181,-0.058502,0.038427,-0.995044,-0.880587,-1.199807,-1.145588
75%,278128.500000,143761.250000,2.008081e+07,70.000000,11.000000,7.000000,5.000000,1.000000,150.000000,15.000000,...,0.075672,0.056568,3.599747,1.263737,2.800475,0.569198,1.563382,3.269987,2.737614,0.044865
max,370946.000000,233044.000000,2.019121e+07,250.000000,39.000000,7.000000,6.000000,1.000000,20000.000000,15.000000,...,0.130785,0.184340,36.756878,26.134561,23.055660,16.576027,20.324572,14.039422,8.764597,8.574730